html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}
.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}
.logo{
  font-family: "Permanent Marker", serif;
}
.monterrat{
  font-family: "Montserrat", serif;
}
.primaryBG{
  background-color: #3BAAFC;
}
